<div class="element-left">
  <div class="element-bg-img"><img alt="" class="img-responsive" [src]="'assets/images/resort' + selected.id + '.jpg'"></div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Fishing</a></li>
        <li><a href="#">Tours</a></li>
        <li class="anc-bor"><a href="#">Weather</a></li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation &amp; like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div *ngFor="let item of list; let i = index" (click)="clicktoElem.emit(item)"  class="activity-row">
            <div class="activity-desc">
              <h5>{{item.city}}</h5>
              <p>{{item.country}}</p>
              <h6>{{item.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img alt="" [src]="'assets/images/resort' + i + '.jpg'"></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
